 h3.header {
   font-family: 'Changa', sans-serif;
   font-size: 18px;
   margin: 15px 0;
 }

 .bg {
   /* The image used */
   background-image: url("../../../assets/img/banner.jpg");
   /* Full height */
   height: 100%;
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .row {
   margin: 25px 0;
 }

 .col-sm {
   border-radius: 5px;
   margin: 10px;
 }

 .about {
   text-align: center;
 }

 .about p {
   line-height: 1.75;
 }

 img.responsive {
   width: 100%;
   height: auto;
 }

 .whyus {
   text-align: center;
   background-color: #6BD2C8;
   color: white;
   padding: 5px;
 }

 .staff {
   text-align: center;
   margin: 25px 0;
 }
