h3.header {
  font-family: 'Changa', sans-serif;
  font-size: 18px;
  margin: 15px 0;
}

.bg {
  /* The image used */
  background-image: url("../../../assets/img/banner.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin: 25px 0;
}

.col-sm {
  border-radius: 5px;
  margin: 10px;
}

.about {
  text-align: center;
}

.about p {
  line-height: 1.75;
}

img.responsive {
  width: 100%;
  height: auto;
}

.whyus {
  text-align: center;
  background-color: #6BD2C8;
  color: white;
  padding: 5px;
}

.staff {
  margin: 25px 0;
}

.staff h3 {
  text-align: center;
}

.staff .teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-overlay {
  color: #f00b4b;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.staff .teacher .name p {
  margin: 10px 0;
  font-family: 'Changa', sans-serif;
  font-weight: 600;
}

.courses {
  text-align: center;
  background-color: #6BD2C8;
}

.courses .course-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses .course-detail img {
  border: 2px solid black;
}

.courses .course-detail p {
  margin: 10px 0;
  font-family: 'Changa', sans-serif;
  font-weight: 600;
  text-align: center;
  width: 50%;
}

.border {
  border: 5px solid black;
}

footer .information,
.phone,
.email,
.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Changa', sans-serif;
}

footer .information,
.phone,
.email {

  color: #407F7C;
}

footer .information p {
  margin: 0px;
}
