<div class="container-fluid" dir="ltr">
  <div class="row">
    <div class="col-sm gps-mobile">
      <div class="gps">
        <i class="fas fa-map-marker fa-lg"></i>
        <span>العراق-بغداد</span>
        <span>الكرادة الشرقية</span>
      </div>
      <div class="mobile">
        <i class="fas fa-mobile-alt"></i>
        <span>077-17-2886648</span>
      </div>
    </div>
    <div class="col-sm">
      <div class="logo">
        LOGO
      </div>
    </div>
    <div class="col-sm">
      <div class="email">
        <i class="far fa-envelope  fa-lg"></i>
        <span>codeforIraq@info.org</span>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light my-style">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">الرئيسية
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">حول المدرسة</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">الكادر التدريسي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">المنهاج التدريسي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">صور للمدرسة</a>
      </li>

    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">تسجيل الدخول</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">التسجيل</a>
      </li>
    </ul>
  </div>
</nav>
